{% extends 'base.html.twig' %}

{% block title %}WordGroup index{% endblock %}

{% block body %}
    <h1>WordGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for word_group in word_groups %}
            <tr>
                <td>{{ word_group.id }}</td>
                <td>{{ word_group.date ? word_group.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_word_group_show', {'id': word_group.id}) }}">show</a>
                    <a href="{{ path('app_word_group_edit', {'id': word_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_word_group_new') }}">Create new</a>
{% endblock %}
