{% extends 'base.html.twig' %}
{% block header %}
  {% include 'header.html.twig' %}
{% endblock %}
{% block title %}
  Play hiragana
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      {{ form_start(form) }}
      <div class="row">
        <div class="col-md-5">
          {{ form_label(form.level_choice) }}
          {{ form_widget(form.level_choice) }}
        </div>
        <div class="col-md-7">
            <div id="hiragana-group-select" hidden>
              <div class="row">
                <div class="col-md-6">
                  {{ form_label(form.hiragana_select_group) }}
                </div>
                <div class="col-md-1">
                  {{ form_widget(form.hiragana_select_group) }}
                </div>
                <div class="col-md-5"></div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{ form_label(form.roomaji_show) }}
        </div>
        <div class="col-md-1">
          {{ form_widget(form.roomaji_show) }}
        </div>
        <div class="col-md-7"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{ form_label(form.hiragana_show) }}
        </div>
        <div class="col-md-1">
          {{ form_widget(form.hiragana_show) }}
        </div>
        <div class="col-md-7"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{ form_label(form.hiragana_sound) }}
        </div>
        <div class="col-md-1">
          {{ form_widget(form.hiragana_sound) }}
        </div>
        <div class="col-md-7"></div>
      </div>
      <input class="btn btn-outline-danger" type="hidden" value="Get Hiragana" id="get-hiragana">
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div id="hiragana-block" hidden>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h1 id="hiragana_roomaji_show_field" class="display-1" hidden></h1>
            <h1 id="hiragana_hiragana_show_field" class="display-1" hidden></h1>
            <audio id="hiragana_audio" controls src="#" hidden></audio>
            <button id="hiragana_hiragana_sound_field" class="btn btn-danger mb-3" hidden>Écouter</button>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}

{% block javascripts %}
  <input type="hidden" value="{{ path('hiragana-get') }}" id="hiragana-get-route">
  <input type="hidden" value="{{ path('hiragana-get-group') }}" id="hiragana-get-group-route">
  <input type="hidden" value="/assets/sound/hiraganas/" id="hiragana-get-sound">
  <script src="{{ asset('get-hiragana.js','js') }}">
  </script>
{% endblock %}