{% extends 'base.html.twig' %}

{% block body %}
  <a class="btn btn-danger mt-2 ml-2" href="{{ path('home') }}">Home</a>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 border rounded border-5 border-danger">
      {{ form_start(form) }}
      <div class="block-level">
        {{ form_row(form.level_choice) }}
        <div id="hiragana-group-select" hidden>
          {{ form_row(form.hiragana_select_group) }}
        </div>
      </div>
      {{ form_row(form.roomaji_show) }}
      {{ form_row(form.hiragana_show) }}
      {{ form_row(form.hiragana_sound) }}
      {{ form_end(form) }}

      <input class="btn btn-outline-danger" type="hidden" value="Get Hiragana" id="get-hiragana">
      <div id="hiragana-block" hidden>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h1 class="display-1" id="hiragana_roomaji_show_field" hidden></h1>
            <h1 class="display-1" id="hiragana_hiragana_show_field" hidden></h1>
          </div>
          <div class="col-md-4"></div>
        </div>
        <figure id="hiragana-listen">
          <audio id="hiragana_hiragana_sound_field" controls src="#" hidden></audio>
        </figure>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}

{% block javascripts %}
  <input type="hidden" value="{{ path('hiragana-get') }}" id="hiragana-get-route">
  <input type="hidden" value="{{ path('hiragana-get-group') }}" id="hiragana-get-group-route">
  <input type="hidden" value="/assets/sound/hiraganas/" id="hiragana-get-sound">
  <script src="{{ asset('get-hiragana.js','js') }}">
  </script>
{% endblock %}