{% extends 'base.html.twig' %}

{% block body %}
  <a class="btn btn-danger mt-2 ml-2" href="{{ path('home') }}">Home</a>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 border rounded border-5 border-danger">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}

      <input type="hidden" value="Get Hiragana" id="get-hiragana">
      <div id="hiragana-block" hidden>
        <h1 class="display-1" id="roomaji-show" hidden></h1>
        <h1 class="display-1" id="hiragana-show" hidden></h1>
        <figure id="hiragana-listen">
          <audio id="hiragana-sound" controls src="#" hidden></audio>
        </figure>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}

{% block javascripts %}
  <input type="hidden" value="{{ path('hiragana-get') }}" id="hiragana-get-route">
  <input type="hidden" value="/assets/sound/hiraganas/" id="hiragana-get-sound">
  <script src="{{ asset('get-hiragana.js','js') }}">
  </script>
{% endblock %}